.app {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0 30px;
}

.app__body {
  display: flex;
  background-color: #ccf2f4;
  margin-top: 0px;
  height: 90vh;
  width: 100%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}
